.menu-container {
    background-color: #4fa1c2 !important;
    min-height: 400px !important;
    max-height: 500px;
    width: 50px;
    height: 768px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.ant-menu {
    background-color: #4fa1c2 !important;
    padding: 5px !important;
}

.ant-menu-item {
    padding: 0 !important;
}

.ant-menu-item > span {
    padding: 4px;
    background-color: #ffffff;
    border-radius: 9px;
    font-size: 1rem;
    color: #4fa1c2 !important;
}

.ant-menu-title-content {
    display: none;
}
.enfeite-menu {
    padding: 20px;
    background-color: #ffffff;
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}

.ant-steps-item-active > .ant-steps-item-container > .ant-steps-item-icon > .ant-steps-icon {
    border: 3px solid #000 !important;
}
