body {
  background-color: #DBDBDB;
  margin: 0;
}

.principal {
  display: flex;
  flex-direction: row;
}


.d-flex {
  display: flex;
}


.flex-row {
  flex-direction: row;
}


.flex-column {
  flex-direction: column;
}

.mt-5 {
  margin-top: 1rem;
}

.mt-10 {
  margin-top: 2rem;
}



.app {
  margin: 0 auto;
  background-color: white;
  padding: 20px 30px;
  border-radius: 10px;
}

h1 {
  text-align: center;
}

h2 {
  margin-bottom: 10px;
}

p {
  margin: 10px 0;

}

input {
  box-sizing: border-box;
}

button {
  background-color: cornsilk;
  color: black;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  opacity: .8;
  transition: .3s;
}

button:hover {
  opacity: 1;
}

.complete {
  background-color: #5cb85c;
}

.remove {
  background-color: firebrick;
}

.todo-form {
  padding-bottom: 1.5rem;
}

input, select {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #DDD;
  border-radius: 3px;
  width: 100%;
}

.container {
  width: 100%;
  padding: 25px;
}

.conteudo-principal {
  width: 100%;
  justify-content: space-between;
}

.w-40 {
  width: 40%;
}

.w-60 {
  width: 60%;
}

.w-100 {
  width: 100%;
}

.ml-5 {
  margin-left: 1rem;
}

.p-1 {
  padding: 1rem;
}

.h-40 {
  height: 40px;
}

.m-l-auto {
  margin-left: auto;
}

.m-h-500 {
  max-height: 500px;
}
